<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Default Project in Go using Goji, Gorilla sessions">
	<meta name="keywords" content="go, golang, mongo, goji, microframework, gorilla, sessions, mvc">
	<title>Decred Stake Pool - Error</title>

	
	<link href="/assets/css/bootstrap.min.css" rel="stylesheet">
	
	<link href="/assets/css/style.css" rel="stylesheet">

	
	
	
</head>
<body>	

	
	<div class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only" id="toggle_nav_txt">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/" id="pool_name_txt">Decred Stake Pool</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li ><a href="/" id="home_txt">Home</a></li>
					
					
				</ul>
				
				<ul class="nav navbar-nav navbar-right" style="margin-top: 10px">
					<li><a></a></li>
					<li><img alt="EN" src="/assets/images/flag_en.png" id="to_en"></li>
					<li><a></a></li>
					<li><img alt="PT" src="/assets/images/flag_pt.png" id="to_pt"></li>
					<li><a></a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li ><a href="/signin" id="signin_txt">Sign In</a></li>
					<li ><a href="/signup" id="signup_txt">Sign Up</a></li>
				</ul>
								
			</div>
		</div>
	</div>
	<div class="container" role="main">		
	
<div class="panel panel-default">
	<div class="panel-body">
			<legend id="maintenance_1_txt">Down For Maintenance</legend>
			<div class="alert alert-danger"><span id="maintenance_2_txt">We could not process your request</span></div>
			<p id="maintenance_3_txt">We are currently undergoing maintenance, please check back soon.</p>
	</div>
</div>
	
	</div>
	
	<div id="footer">
		<div class="container">			
			<br>
			<p class="text-muted">&copy; 2016 Decred Developers
		</div>
	</div>

    
    <script src="/assets/js/jquery-1.11.3.min.js"></script>
    <script src="/assets/js/parsleyjs-2.1.3/parsley.min.js"></script>
    
    <script src="/assets/js/bootstrap.min.js"></script>
    
  </body>
</html>
