{{define "main"}}
	{{template "header" .}}
	<!-- Fixed navbar -->
	<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only" id="toggle_nav_txt">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#"><img alt="Decred" src="/assets/images/logo_dark.png"></a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li {{if .IsIndex }}class="active"{{end}}><a href="/" id="home_txt">Home</a></li>
					<li {{if .IsStats }}class="active"{{end}}><a href="/stats" id="stats_txt">Stats</a></li>
					{{if .User}}<li {{if .IsAddress }}class="active"{{end}}><a href="/address" id="address_txt">Address</a></li>{{end}}
					{{if .IsStatus}}<li class="active"><a href="/status" id="status_txt">Status</a></li>{{end}}
					{{if .User}}{{if .User.MultiSigAddress}}<li {{if .IsTickets }}class="active"{{end}}><a href="/tickets" id="tickets_txt">Tickets</a></li>{{end}}{{end}}
				</ul>
				<ul class="nav navbar-nav navbar-right" style="margin-top: 10px">
					<li><a></a></li>
					<li><img alt="EN" src="/assets/i18n/images/flag_en.png" id="to_en"></li>
					<li><a></a></li>
					<li><img alt="PT" src="/assets/i18n/images/flag_pt.png" id="to_pt"></li>
					<li><a></a></li>
				</ul>
				{{if .User}}
				<ul class="nav navbar-nav navbar-right">
					<li>
						<p class="navbar-text" id="helo_user_txt">
							Hello, {{ .User.Email}}
						</p>
					</li>
					<li><a href="/logout" id="logout_txt">Logout</a></li>
				</ul>
				{{else}}
				<ul class="nav navbar-nav navbar-right">
					<li {{if .IsSignIn }}class="active"{{end}}><a href="/signin" id="signin_txt">Sign In</a></li>
					<li {{if .IsSignUp }}class="active"{{end}}><a href="/signup" id="signup_txt">Sign Up</a></li>
				</ul>
				{{end}}				
			</div><!--/.nav-collapse -->
		</div>
	</div>
	<div class="container" role="main">		
	{{.Content}}	
	</div>
	{{template "footer" .}}
{{end}}
