{{define "home"}}
<div class="carousel fade-carousel slide" data-ride="carousel" data-interval="false" id="bs-carousel">
  <!-- Overlay -->
  <div class="overlay"></div>

  <!-- Indicators -->
  
  
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item slides active">
      <div class="slide-1"></div>
      <div class="hero">
        <hgroup>
            <h1>Decred Stake Pool <span>Brasil</span></h1>        
            <h3>Get your mining started</h3>
        </hgroup>
        <button id="btn-see-all" class="btn btn-hero btn-lg" role="button">See all features</button>
      </div>
    </div>
<div class="service_area" id="scroll-to">
  <div class="container">
    <div class="row">
      <div class="service_section wow bounceInLeft animated">

          <div class="col-md-4">
            <div class="single_service">        
              <div class="ico"><i class="fa fa-code"></i></div>          
              <h2>Fully Open Source</h2>
              <p>The Decred Stake Pool is an open source project as are all our changes to the code. Everything is available on <a href="https://github.com/girino/dcrstakepool">GitHub</a>.<p>
            </div>
          </div>

          <!-- <div class="col-md-4">
            <div class="single_service">        
              <div class="ico"><i class="fa fa-lock"></i></div>          
              <h2>Security</h2>
              <p>Your funds are safe within your wallet. Using a stakepool you only delegate <strong>voting powers</strong>, not control over the funds. The pool is unable to steal or controll your funds.</p>
            </div>
          </div> -->

          <div class="col-md-4">
            <div class="single_service">        
              <div class="ico"><i class="fa fa-comments"></i></div>
              <h2>We speak your language</h2>
              <p>We speak English, Portuguese and French. Contact us at <a href="mailto:{{.PoolEmail}}">{{.PoolEmail}}</a> or visit our support center at <a href="{{.PoolLink}}">{{.PoolLink}}</a>.</p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="single_service">        
              <div class="ico"><i class="fa fa-rocket"></i></div>
              <h2>High Availability</h2>
              <p>We have servers in Brazil, United States and France, strategicaly placed to reduce missed tickets and achieve virtually 0% voting downtime.</p>
            </div>
          </div>

      </div>
    </div>
  </div>
</div><!-- service area end   -->

<div class="work_area">
  <div class="container">
    <div class="row">  
      <div class="work_section">
        <h1 class="wow bounceInLeft">Current ticket price: <span id="ticket-price">...</span> DCR. We recommend <span id="ticket-recommend">...</span></h1>
	<p class="wow bounceInLeft">Current price of <span id="ticket-price"></span> DCR is <span id="price-compare"></span> the average (<span id="ticket-avg"></span> DCR) and is expected to go <span id="price-movement"></span> to <span id="next-ticket-price"></span> DCR in <span id="block-adjust"></span> blocks (aprox. <span id="time-adjust"></span>)</p>
          <div class="col-md-12 wow bounceInRight animated">
            <div class="bs-example">
<div class="tab-content">
                <div id="sectionA" class="tab-pane fade in active">
                      <h3>What is a Stake Pool?</h3>
                      <p>A stake pool is used to delegate your voting powers to a third party (the pool). The pool cannot steal your funds.
                      Participating in a stake pool is perfect for people who wish to take part in Decred's proof of stake voting but can't due to:
                            <br/>Not wanting to keep a constantly unlocked wallet
                            <br/>Lack of a reliable/low latency Internet connection
                      </p>
                      <p>The redudancy and geographic distribution of our servers reduce the chance of missed votes and increases your profits. Our fees are  of {{ .PoolFees}}% of the reward. Staking in the pool is less expensive than a cheap VPS or at home, with much less vote latency and much less missed tickets.</p>
              </div>
            </div>
          </div>
      </div>
    </div>  
  </div>    
</div><!-- work area end   -->
      


<div class="getit_area">
  <div class="container">
    <div class="row">
      <div class="getit_section">
        <h1><a href="/signup">Sign up!</a></h1>
        <a href="/signin">or Sign in</a>
      </div>
    </div>
  </div>
</div><!--  getit area end -->

<!-- portfolio area end   -->
<!-- skill area end-->
{{end}}
