{{define "main"}}
        {{template "header" .}}
<!--preloader-->
    <div id="preloader">
      <div id="preload-status">&nbsp;</div>
    </div> 

<div id="header_pad" style="height: 0;"> </div>
<header class="main_header">
  <div class="row">
    <div class="content"> <a class="logo" href="#"></a>
      <div class="mobile-toggle"> <span></span> <span></span> <span></span></div>
      <nav >
        <ul class="main_menu">
          <li {{if .IsIndex }}class="active"{{end}}><a href="/">Pool</a></li>
          <li><a href="http://stats.decredbrasil.com/dashboard">Dashboard</a></li>
          <li {{if .IsStats }}class="active"{{end}}><a href="/stats">Stats</a></li>
          {{if .User}}<li {{if .IsAddress }}class="active"{{end}}><a href="/address">Address</a></li>{{end}}
          {{if .User}}<li {{if .IsSettings }}class="active"{{end}}><a href="/settings">Settings</a></li>{{end}}
          {{if .IsStatus}}<li class="active"><a href="/status">Status</a></li>{{end}}
          {{if .User}}{{if .User.MultiSigAddress}}<li {{if .IsTickets }}class="active"{{end}}><a href="/tickets">Tickets</a></li>{{end}}{{end}}
          <li><a href="https://goo.gl/eSq80h" tarket="_blank">Tutorial (pt_BR)</a></li>
        {{if .User}}
          <li>
              Hello, {{ .User.Email}}
          </li>
          <li><a href="/logout">Logout</a></li>
        {{else}}
          {{if .IsEmailUpdate }}<li class="active"><a href="/emailupdate">Email Update</a></li>{{end}}
          {{if .IsEmailVerify }}<li class="active"><a href="/emailverify">Email Verification</a></li>{{end}}
          {{if .IsPasswordReset }}<li class="active"><a href="/passwordreset">Password Reset</a></li>{{end}}
          {{if .IsPasswordUpdate }}<li class="active"><a href="/passwordupdate">Password Update</a></li>{{end}}
          <li {{if .IsSignIn }}class="active"{{end}}><a href="/signin">Sign In</a></li>
          <li {{if .IsSignUp }}class="active"{{end}}><a href="/signup">Sign Up</a></li>
        {{end}}
        </ul>

      </nav>
    </div>
  </div>
  <!-- END row --> 
</header>
{{if .IsIndex }}
<div>
{{else}}
<div class="container">
{{end}}
        {{.Content}}
</div>
        {{template "footer" .}}
{{end}}

